.woopos-dragscroll {
  overflow: auto;
  cursor: grab;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior: contain;
}

.woopos-dragscroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.woopos-dragscroll.is-grabbing {
  cursor: grabbing;
  user-select: none;
}
